<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">

    <h3>{{user.name}}=={{user.age}}=={{user.pwd}}</h3>

    <!--  遍历对象  -->
    <span v-for="(value, key, index) in user">
        {{key}}: {{value}}==={{index}}
    </span>

    <!-- 遍历书序   -->
    <ul v-for="(city, index) in arr">
        <li>{{index + 1}}: {{city}}</li>
    </ul>
    <hr>
    <!-- 遍历数组中的对象   -->
    <ul v-for="(value, index) in users" :key="index">
        <li>{{index+1}}: {{value.name}}=={{value.age}}</li>
    </ul>

</div>

<script src="js/vue.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            user: {name: "小黑", age: 23, pwd: "123456"},
            arr: ["四川", "北京", "山西"],
            users: [{name: "小黑", age: 13, pwd: "123456"},
                {name: "小张", age: 23, pwd: "123456"},
                {name: "小波", age: 63, pwd: "123456"},
            ]
        },
    })
</script>

</body>
</html>