<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">

    <!--    实现思路
        1. 展示留言板
            a. 将所有的数据绑定为vue的实例
            b. 遍历vue的留言显示
        2. 发表留言
            a. 给发表留言的按钮绑定事件
            b. 获取用户在输入框所输入的值
            c. 添加留言板

        3. 删除留言
            a. 绑定事件
            b. 通过事件传递确定要删除的行
            c. 在触发的方法中完成删除

    -->

    <input type="text" v-model="msg">
    <input type="button" value="发表留言" @click="add_note">

    <ul>
        <li v-for="(note, index) in notebook" :key="index">
            <span>{{note}}</span> <a href="javascript:;" @click="delNote(index)">删除</a>
        </li>
    </ul>

    <span>留言总数量：{{notebook.length}}条</span>
    <br>
    <input type="button" value="删除所有">

</div>

<script src="js/vue.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            notebook: ["Vue真好用", "我特别想听毛老师讲课"],
            msg: "",
        },
        methods: {
            // 添加留言
            add_note() {

                // 判断输入框是否有值  有值则添加
                let msg = this.msg;
                if (msg) {
                    // 默认添加到留言板的末尾
                    // this.notebook.push(this.msg);
                    // 添加到留言板的首部
                    this.notebook.unshift(this.msg);
                    this.msg = "";
                }
            },

            // 删除留言
            delNote(index){
                console.log(index);
                // 根据下标取删除某个元素
                this.notebook.splice(index, 1)  // 参数1: 从哪个下标开始删除  参数2: 删除的元素个数
            },
        }
    })
</script>

</body>
</html>